# Игнорируем кэш Python
__pycache__/
*.py[cod]
*$py.class

# Игнорируем виртуальные окружения
.venv/
venv/
env/

# Игнорируем локальные настройки и секреты
.env
.git/
.gitignore

# Игнорируем базы данных (чтобы не затереть их при сборке)
*.db
*.sqlite3

# Игнорируем папки IDE
.vscode/
.idea/

# Игнорируем тесты (в контейнере они обычно не нужны для работы)
tests/