POSTGRES_USER=Your user
POSTGRES_PASSWORD=Your password
POSTGRES_DB=Your DB name

DATABASE_URL={your_DB}://{user}:{password}@host.docker.internal:{port}/{db_name}
REDIS_URL=redis://localhost:{port}/0
CACHE_TTL_SECONDS=86400
SECRET_KEY={your_secret_key}